body{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 60%
}
p{
	color: blue;
}

#contenido p strong em{
color: yellow;
font-size: 50px;
}

h1, h2, h3{
	color: green;
}
*{
	font-family: sans-serif;
	font-size: 15 px;
	margin: 15px;
}